name: Python Bot Run

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */6 * * *' # 6 மணி நேரத்திற்கு ஒரு முறை run

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install python-telegram-bot

      - name: Run bot
        run: python owner.py
